.accounts-container {
  display: flex;
  justify-content: center;

  min-height: 100vh;
}

.accounts-container-dark {
  background-color: #121212;
}

.flex-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.accounts-heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.accounts-heading-dark {
  color: #ffffff;
}

.accounts {
  margin-top: 2rem;
}

.add-account {
  width: 14%;
  height: 50px;
  margin-bottom: 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 15px;

  background: black;

  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

.add-account:hover {
  opacity: 0.8;
}

.add-account-dark {
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(3, 61, 136, 0.32) 100.2%
  );
}

@media (max-width: 950px) {
  .add-account {
    width: 20%;
  }
}

@media (max-width: 682px) {
  .add-account {
    width: 26%;
  }
}

@media (max-width: 520px) {
  .add-account {
    width: 30%;
  }
}
