.empty-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.3rem;
}

.empty-content {
  border: 2px dashed rgb(207, 207, 207);
  height: 60vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.empty-content-dark {
  color: #ffffff;
}

.empty-content:hover {
  background-color: rgb(245, 245, 245);
}

.empty-content-dark:hover {
  background-color: #333333;
}

.empty-heading {
  margin-bottom: 1rem;
}

.empty-add-data {
  margin-bottom: 1.4rem;
  color: #000;
  font-weight: 300;
  font-size: 1.2rem;
}

.empty-add-data-dark {
  color: #ffffff;
}

.blank-page {
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .empty-content {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .empty-content {
    width: 90%;
  }

  .empty-heading {
    font-size: 1.6rem;
  }

  .blank-page {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 420px) {
  .empty-container {
    padding-top: 8rem;
  }

  .empty-content {
    width: 80%;
    height: 40vh;
  }

  .empty-heading {
    font-size: 1.4rem;
  }
}
