.modal-box {
  width: 500px;
  height: 86vh;
}

.close {
  font-size: 1.6rem;
  cursor: pointer;
  /* display: none; */
}

.close:hover {
  opacity: 0.5;
}

@media (max-width: 560px) {
  .modal-box {
    width: 450px;
  }

  /* .close {
    display: block;
  } */
}

@media (max-width: 420px) {
  .modal-box {
    width: 300px;
    height: 500px;
  }
}
