.amounts {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.filter-amount input {
  width: 140px;
}

.filter-accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

.option-heading {
  margin-bottom: 0.8rem;
}

.category-check,
.account-check {
  display: flex;
  align-items: center;
}

.checkbox {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.category-check label,
.account-check label {
  width: 100px;
}

.checkbox input {
  width: 24px;
  height: 24px;
}

@media (max-width: 420px) {
  .amounts {
    height: 180px;
    flex-direction: column;
    align-items: center;
  }
}
